
 .image-1 { width: 50px;
    border-radius: 50%;
    }
    
 * { 
    font-family: 'Creepster', cursive; 
    color: rgb(241, 94, 94);
 }
 
 #input-question {
     color: rgb(241, 94, 94)
 }

h2 {
    filter: drop-shadow(30px 10px 4px #4444dd);
}

p {
    filter: drop-shadow(30px 10px 4px #4444dd);
}

#answer-button {
animation: shake 1s;

}
@keyframes shake{
    0% { transform: translate(4px, 4px) rotate(0deg); }
    25% { transform: translate(-4px, -4px) rotate(-1deg); }
    50% { transform: translate(4px, 4px) rotate(0deg); }
    100% { transform: translate(-4px, -4px) rotate(-1deg); } 
}

#random-answer {
    filter: drop-shadow(30px 10px 4px #4444dd);
}

h2 {
    font-size: 1.8rem;
    font-weight: bold;
}



.main-logo {
    animation: pulse 5s infinite ease-in-out;
}

header img {
    height: var(--header-height);
}

p {
    margin: var(--gutter);
}
  
  
  @keyframes pulse {
    20% {
      transform: rotate3d(-10, -10, -10, 50deg) scale(1.2);
    }

    40% {
        transform: rotate3d(10, 10, -10, 50deg) scale(1);
    }

    60% {
        transform: rotate3d(-10, 10, 10, 50deg) scale(1.2);
      }

    80% {
        transform: rotate3d(10, 10, 10, 50deg) scale(1);
    }

  }

body {
    background-image: url(../assets/Screen\ Shot\ 2021-10-05\ at\ 3.46.19\ PM.png);
}
  